In [2]:
import pandas as pd
df = pd.read_csv('hbp3.tsv', delimiter='\t')

In [3]:
df.head()

,DATETIME(JST),DATENAME(JST),HOURS(JST),DATENAME,DATETIME,HOURS,Table Name,building,floor,sensorId,stall,status,unixtimestamp
0,2017/12/20 13:13,Wednesday,13,Wednesday,2017/12/20 4:13,4,1513743187638.json,91,4,910401,1,close,1.510000e+12
1,2017/12/20 13:16,Wednesday,13,Wednesday,2017/12/20 4:16,4,1513743383454.json,91,4,910403,3,close,1.510000e+12
2,2017/12/20 13:21,Wednesday,13,Wednesday,2017/12/20 4:21,4,1513743674523.json,91,4,910402,2,close,1.510000e+12
3,2017/12/20 13:23,Wednesday,13,Wednesday,2017/12/20 4:23,4,1513743794829.json,91,4,910403,3,open,1.510000e+12
4,2017/12/20 13:23,Wednesday,13,Wednesday,2017/12/20 4:23,4,1513743835781.json,91,4,910403,3,close,1.510000e+12

In [4]:
unixt = df["Table Name"].str.extract('([0-9]+)')

C:\Users\shoichi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [5]:
dat = df.loc[:,["DATETIME(JST)","DATENAME(JST)","HOURS(JST)","sensorId","stall","status"]]

In [6]:
dat = pd.concat([dat, unixt], axis=1)
#カラムネームの変更を行う
columns={
"Table Name":"unixtimestamp"
}
#再度読み込みを行う
dat.rename(columns=columns, inplace=True)
dat.head()

,DATETIME(JST),DATENAME(JST),HOURS(JST),sensorId,stall,status,unixtimestamp
0,2017/12/20 13:13,Wednesday,13,910401,1,close,1513743187638
1,2017/12/20 13:16,Wednesday,13,910403,3,close,1513743383454
2,2017/12/20 13:21,Wednesday,13,910402,2,close,1513743674523
3,2017/12/20 13:23,Wednesday,13,910403,3,open,1513743794829
4,2017/12/20 13:23,Wednesday,13,910403,3,close,1513743835781

In [11]:
dat1 = dat[dat.stall==1]
dat2 = dat[dat.stall==2]
dat3 = dat[dat.stall==3]

In [15]:
for i in range(len(dat1)):
    try:
        if dat1.iloc[i]["status"] == "open" and dat1.iloc[i+1]["status"] == "close":
            print(str(i))
            opn = dat1.iloc[[i]]
            cls = dat1.iloc[[i+1]]
            d = pd.concat([cls, opn])
            d.to_csv("preset/"+str(i)+".csv", index=False)
    except:
        print('indexer is out-of-bounds')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
253
255
257
259
261
263
265
267
269
271
273
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
527
529
531
533
535
538
540
542
544
546
548
550
552
554
557
559
561
563
565
567
569
571
573
575
577
579
581
583
585
587
589
591
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
667
669
671
673
675
677
679
681
683
685
687
689
691
693
695
697
699
701
703
705
707
709
711
713
715
717
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
809
811
813
815
817
819
821
823
825
827
829
831
833
835
837
839
841
843
845
847
849
851
853
856
858
860
862
864
866
869
871
873
875
878
880
882
884
886
888
890
892
894
897
899
901
903
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998
1000
1002
1004
1006
1008
1010
1012
1014
1016
1018
1020
1022
1024
1026
1028
1030
1032
1034
1036
1038
1040
1042
1044
1046
1048
1050
1052
1054
1056
1058
1060
1062
1064
1066
1068
1070
1072
1074
1076
1078
1080
1082
1084
1086
1088
1090
1092
1094
1096
1098
1100
1102
1104
1106
1108
1110
1112
1114
1116
1118
1120
1122
1124
1126
1128
1130
1132
1134
1136
1138
1140
1142
1144
1146
1148
1150
1152
1154
1156
1158
1160
1163
1165
1167
1169
1171
1173
1175
1177
1179
1182
1184
1186
1188
1190
1192
1194
1196
1198
1200
1202
1204
1206
1208
1210
1213
1215
1217
1219
1221
1223
1225
1227
1229
1231
1233
1235
1237
1239
1241
1243
1245
1247
1249
1251
1253
1255
1257
1259
1261
1263
1265
1267
1269
1271
1273
1275
1277
1279
1281
1283
1285
1287
1289
1291
1293
1295
1297
1299
1301
1303
1305
1307
1309
1311
1313
1315
1317
1319
1321
1323
1325
1328
1330
1332
1334
1336
1338
1340
1342
1344
1346
1348
1350
1352
1354
1356
1358
1360
1362
1364
1366
1368
1371
1373
1375
1377
1379
1382
1384
1386
1388
1390
1392
1394
1396
1398
1400
1402
1404
1406
1408
1410
1412
1414
1416
1418
1420
1422
1424
1426
1428
1430
1432
1434
1436
1438
1440
1442
1444
1446
1448
1450
1452
1454
1456
1458
1460
1462
1464
1466
1468
1470
1472
1474
1476
1478
1480
1482
1484
1487
1489
1491
1493
1495
1497
1499
1501
1503
1505
1507
1509
1511
1513
1515
1517
1519
1521
1523
1525
1527
1529
1531
1533
1535
1537
1539
1541
1543
1545
1547
1549
1551
1553
1555
1557
1559
1561
1563
1565
1567
1569
1571
1573
1575
1577
1579
1581
1584
1586
1588
1590
1592
1594
1596
1598
1600
1602
1604
1606
1608
1610
1612
1614
1616
1618
1620
1622
1624
1626
1628
1630
1632
1634
1636
1638
1640
1642
1644
1647
1649
1651
1653
1655
1657
1659
1661
1663
1665
1667
1669
1671
1673
1675
1678
1680
1682
1684
1686
1688
1690
1692
1694
1696
1698
1700
1702
1704
1706
1708
1710
1712
1714
1716
1718
1720
1722
1724
1726
1728
1730
1732
1734
1736
1738
1740
1742
1744
1746
1748
1750
1752
1754
1757
1759
1761
1763
1765
1767
1769
1771
1773
1775
1777
1779
1781
1784
1786
1788
1790
1792
1794
1796
1798
1800
1802
1804
1806
1808
1810
1812
1814
1816
1818
1820
1822
1824
1826
1828
1830
1832
1834
1836
1838
1840
1842
1844
1846
1848
1850
1852
1854
1856
1858
1860
1862
1864
1866
1868
1870
1872
1874
1876
1878
1880
1882
1884
1886
1888
1890
1894
1896
1898
1900
1902
1904
1906
1908
1910
1912
1914
1916
1918
1920
1922
1924
1926
1928
1930
1932
1935
1937
1939
1941
1943
1945
1947
1949
1951
1953
1955
1957
1959
1961
1963
1965
1967
1969
1971
1973
1975
1977
1979
1981
1983
1985
1987
1989
1991
1993
1995
1997
1999
2001
2003
2005
2008
2010
2012
2014
2016
2018
2020
2022
2024
2026
2028
2030
2032
2034
2036
2038
2040
2042
2044
2046
2048
2050
2052
2054
2057
2059
2061
2063
2065
2067
2069
2071
2073
2075
2077
2079
2081
2083
2085
2087
2089
2091
2093
2095
2097
2099
2101
2104
2106
2108
2111
2113
2115
2117
2119
2121
2123
2125
2127
2129
2131
2133
2135
2137
2139
2141
2143
2145
2147
2149
2151
2153
2155
2157
2159
2161
2163
2165
2167
2169
2171
2173
2175
2177
2179
2181
2183
2185
2187
2189
2191
2193
2195
2197
2199
2201
2203
2205
2207
2209
2212
2214
2216
2218
2220
2222
2224
2226
2228
2230
2232
2234
2236
2238
2240
2242
2244
2246
2248
2250
2252
2254
2256
2258
2260
2262
2264
2266
2268
2270
2272
2274
2276
2278
2280
2282
2284
2286
2288
2290
2292
2295
2297
2299
2301
2303
2305
2307
2309
2311
2313
2315
2317
2319
2321
2323
2325
2327
2329
2331
2333
2335
2337
2339
2341
2343
2345
2347
2349
2351
2353
2355
2357
2359
2361
2363
2365
2367
2369
2371
2373
2375
2378
2380
2382
2385
2387
2389
2391
2393
2395
2397
2399
2401
2403
2405
2407
2409
2411
2413
2415
2417
2419
2421
2424
2426
2428
2430
2432
2434
2436
indexer is out-of-bounds

In [23]:
import glob
path = "preset/" # use your path
all_files = glob.glob(path + "*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in all_files:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)
stall1 = frame.sort_values(by=['unixtimestamp'])
stall1.to_csv('stall1.csv', index=None)

In [24]:
cls1 = stall1[stall1.status == "close"].reset_index(drop=True)
op1 = stall1[stall1.status == "open"].reset_index(drop=True)

In [25]:
cls1.head()

,DATETIME(JST),DATENAME(JST),HOURS(JST),sensorId,stall,status,unixtimestamp
0,2017/12/20 13:45,Wednesday,13,910401,1,close,1513745121391
1,2017/12/20 13:53,Wednesday,13,910401,1,close,1513745607821
2,2017/12/20 14:03,Wednesday,14,910401,1,close,1513746208398
3,2017/12/20 14:08,Wednesday,14,910401,1,close,1513746485029
4,2017/12/20 14:11,Wednesday,14,910401,1,close,1513746669042

In [26]:
#カラムネームの変更を行う
columns={
    "DATETIME(JST)":"close_time",
    "DATENAME(JST)":"DATENAME",
    "HOURS(JST)":"hour_jst",
    "unixtimestamp":"close_unixtime"
}
#再度読み込みを行う
cls1.rename(columns=columns, inplace=True)

In [27]:
#カラムネームの変更を行う
columns={
    "DATETIME(JST)":"open_time",
    "DATENAME(JST)":"DATENAME",
    "HOURS(JST)":"hour_jst",
    "unixtimestamp":"open_unixtime"
}
#再度読み込みを行う
op1.rename(columns=columns, inplace=True)

In [28]:
op1["open_time"].head()

0    2017/12/20 13:32
1    2017/12/20 13:50
2    2017/12/20 13:59
3    2017/12/20 14:07
4    2017/12/20 14:10
Name: open_time, dtype: object

In [29]:
cls1["close_time"].head()

0    2017/12/20 13:45
1    2017/12/20 13:53
2    2017/12/20 14:03
3    2017/12/20 14:08
4    2017/12/20 14:11
Name: close_time, dtype: object

In [30]:
len(op1)

1198

In [38]:
len(cls1)

1198

In [39]:
f1 = pd.concat([op1["open_time"], cls1, op1["open_unixtime"]], axis=1).drop("status", axis=1)

In [40]:
f1.head()

,open_time,close_time,DATENAME,hour_jst,sensorId,stall,close_unixtime,open_unixtime
0,2017/12/20 13:32,2017/12/20 13:45,Wednesday,13,910401,1,1513745121391,1513744358353
1,2017/12/20 13:50,2017/12/20 13:53,Wednesday,13,910401,1,1513745607821,1513745411116
2,2017/12/20 13:59,2017/12/20 14:03,Wednesday,14,910401,1,1513746208398,1513745973139
3,2017/12/20 14:07,2017/12/20 14:08,Wednesday,14,910401,1,1513746485029,1513746448689
4,2017/12/20 14:10,2017/12/20 14:11,Wednesday,14,910401,1,1513746669042,1513746614840

In [41]:
f1.to_csv('f1.csv',index=False)

In [107]:
for i in range(len(dat2)):
    try:
        if dat2.iloc[i]["status"] == "open" and dat2.iloc[i+1]["status"] == "close":
#        print(str(i))
            cls = dat2.iloc[[i]]
            opn = dat2.iloc[[i+1]]
            d = pd.concat([cls, opn])
            d.to_csv("preset2/"+str(i)+".csv", index=False)
    except:
        print('indexer is out-of-bounds')

indexer is out-of-bounds

In [108]:
import glob
path = "preset2/" # use your path
all_files = glob.glob(path + "*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in all_files:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)
stall2 = frame.sort_values(by=['unixtimestamp'])
stall2.to_csv('stall2.csv', index=None)

In [109]:
cls2 = stall2[stall2.status == "close"].reset_index(drop=True)
op2 = stall2[stall2.status == "open"].reset_index(drop=True)

In [110]:
#カラムネームの変更を行う
columns={
    "DATETIME(JST)":"close_time",
    "DATENAME(JST)":"DATENAME",
    "HOURS(JST)":"hour_jst"
}
#再度読み込みを行う
cls2.rename(columns=columns, inplace=True)

#カラムネームの変更を行う
columns={
    "DATETIME(JST)":"open_time",
    "DATENAME(JST)":"DATENAME",
    "HOURS(JST)":"hour_jst"
}
#再度読み込みを行う
op2.rename(columns=columns, inplace=True)

In [111]:
f2 = pd.concat([op2["open_time"], cls2], axis=1)
f2.to_csv('f2.csv',index=False)

In [17]:
###openのみをカウントする
df1 = df[df.stall==1]
df2 = df[df.stall==2]
df3 = df[df.stall==3]

In [20]:
df1[df1.status=="open"].reset_index(drop=True).head()

,DATETIME(JST),DATENAME(JST),HOURS(JST),DATENAME,DATETIME,HOURS,Table Name,building,floor,sensorId,stall,status,unixtimestamp
0,2017/12/20 13:32,Wednesday,13,Wednesday,2017/12/20 4:32,4,1513744358353.json,91,4,910401,1,open,1.510000e+12
1,2017/12/20 13:50,Wednesday,13,Wednesday,2017/12/20 4:50,4,1513745411116.json,91,4,910401,1,open,1.510000e+12
2,2017/12/20 13:59,Wednesday,13,Wednesday,2017/12/20 4:59,4,1513745973139.json,91,4,910401,1,open,1.510000e+12
3,2017/12/20 14:07,Wednesday,14,Wednesday,2017/12/20 5:07,5,1513746448689.json,91,4,910401,1,open,1.510000e+12
4,2017/12/20 14:10,Wednesday,14,Wednesday,2017/12/20 5:10,5,1513746614840.json,91,4,910401,1,open,1.510000e+12

In [21]:
d1open = df1[df1.status=="open"].reset_index(drop=True)

In [22]:
len(d1open)

1221

In [24]:
d1out= d1open[d1open.index % 2 == 0].reset_index(drop=True)

In [27]:
d1in= d1open[d1open.index % 2 != 0].reset_index(drop=True)

In [28]:
d1out.head()

,DATETIME(JST),DATENAME(JST),HOURS(JST),DATENAME,DATETIME,HOURS,Table Name,building,floor,sensorId,stall,status,unixtimestamp
0,2017/12/20 13:32,Wednesday,13,Wednesday,2017/12/20 4:32,4,1513744358353.json,91,4,910401,1,open,1.510000e+12
1,2017/12/20 13:59,Wednesday,13,Wednesday,2017/12/20 4:59,4,1513745973139.json,91,4,910401,1,open,1.510000e+12
2,2017/12/20 14:10,Wednesday,14,Wednesday,2017/12/20 5:10,5,1513746614840.json,91,4,910401,1,open,1.510000e+12
3,2017/12/20 14:33,Wednesday,14,Wednesday,2017/12/20 5:33,5,1513747983957.json,91,4,910401,1,open,1.510000e+12
4,2017/12/20 14:50,Wednesday,14,Wednesday,2017/12/20 5:50,5,1513749029664.json,91,4,910401,1,open,1.510000e+12

In [29]:
#カラムネームの変更を行う
columns={
    "DATETIME(JST)":"in_time",
    "DATENAME(JST)":"DATENAME",
    "HOURS(JST)":"hour_jst",
    "unixtimestamp":"in_unixtime"
}
#再度読み込みを行う
d1in.rename(columns=columns, inplace=True)

#カラムネームの変更を行う
columns={
    "DATETIME(JST)":"out_time",
    "DATENAME(JST)":"DATENAME",
    "HOURS(JST)":"hour_jst",
    "unixtimestamp":"out_unixtime"
}
#再度読み込みを行う
d1out.rename(columns=columns, inplace=True)

In [31]:
oponly = pd.concat([d1in["in_time"], d1out], axis=1)

In [32]:
oponly.to_csv('oponly.csv',index=False)